<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEC7B8871E0BA98600F6137D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC7B8A01E0BA98600F6137D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEC7B8AB1E0BA98600F6137D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
